<li>
    {{name}}

    <button class="devoured" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}{{this.burger_name}}{{else}}no burger devoured!!!!!{{/if}}
    </button>

    <button class="not-devoured" data-id="{{this.id}}">DELETE!</button>
</li>